.crypto-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Blurred background image */
.crypto-bg {
  position: absolute;
  top: 1.2vw;
  left: 8vw;
  width: 88%;
  height: 34vw;
  background-image: url(/src/assets/bg.webp);
  background-size: cover;
  background-position: top;
  filter: blur(40px);
  z-index: 0;
}

/* Foreground content */
.crypto-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 2vw 27.32px 2vw 0vw 2vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crypto-content h1 {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 3vh;
  line-height: 1.3;
  padding: 2vw 11vw;
}

.crypto-main {
  width: 93%;
}

.crypto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
  gap: 1.5vw;
  justify-items: center;
  align-items: center;
  padding: 2vw;
}

.crypto-grid span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2383vw;
  color: #e1e1b4;
  width: 16vw;
  height: 19vh;
  border-radius: 1vw;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1vw);
  transition: all 0.3s ease;
  padding: 1vw 4vw;
}

.crypto-grid span:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: scale(1.05);
}

.proposalSection {
  background-color: #0C0C0C;
  padding: 7.5vw 9vw;
  text-align: center;
  color: white;
  width: 87vw;
  border-radius: 1vw;
  border: 1px solid rgba(158, 158, 158, 0.164);
}

.white {
  color: white;
}

.mainTitle {
  font-size: 3.159vw;
  font-weight: 600;
  margin-bottom: 2vw;
  color: var(--secondary);
  line-height: 1.2;
}

.subTitle {
  font-size: 1.1vw;
  color: #bfbfbf9d;
  margin-bottom: 3vw;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.proposalButton {
  background-color: var(--secondary);
  color: black;
  padding: 1.5vw 3vw;
  border: none;
  border-radius: 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.proposalButton:hover {
  background-color: #9acc1a;
}

@media(max-width: 1024px) {
  .crypto-content h1 {
    font-size: 3.5vw;
    padding: 2vw 11vw;
  }

  .crypto-main {
    width: 93%;
  }

  .crypto-grid {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 3vw;
    padding: 2vw 14.4vw;
  }

  .crypto-grid span {
    width: 30vw;
    height: 20vh;
    padding: 4vw;
    font-size: 1.6vw;
  }

  .crypto-bg {
    top: 2vw;
    width: 88%;
    height: 80vw;
    filter: blur(30px);
  }

  .proposalSection {
    padding: 7.5vw 9vw;
    width: 86vw;
  }


  .mainTitle {
    font-size: 3.7vw;
  }

  .subTitle {
    font-size: 1.6vw;
    color: #bfbfbf9d;
    margin-bottom: 3vw;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .proposalButton {
    padding: 2vw 4vw;
    border-radius: 1.5vw;
    font-size: 1.6vw;
  }
}

@media(max-width: 650px) {
  .crypto-content h1 {
    font-size: 6vw;
    margin-bottom: 5vh;
    padding: 2vw 11vw;
  }

  .crypto-grid span {
    font-weight: 700;
    font-size: 3.9vw;
    width: 39vw;
    height: 16vh;
    border-radius: 4vw;
    backdrop-filter: blur(1vw);
    padding: 2vw;
  }

  .crypto-grid {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    gap: 3vw;
    padding: 2vw 5vw;
  }

  .crypto-bg {
    top: 2vw;
    width: 88%;
    height: 150vw;
    filter: blur(30px);
  }

  .crypto-bg {
    height: 155vw;
  }


  .proposalSection {
    padding: 7.5vw 5vw;
    width: 90vw;
    border-radius: 3vw;
  }


  .mainTitle {
    font-size: 5.5vw;
    margin-bottom: 4vw;
  }

  .subTitle {
    font-size: 3.5vw;
    margin-bottom: 5vw;
    max-width: 80%;
  }

  .proposalButton {
    padding: 3vw 6vw;
    border-radius: 3vw;
    font-size: 3.5vw;
  }
}