.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 2vw;
  width: auto;

}

.newsletter-content {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  gap: 80px;
}

.newsletter-left {
  max-width: 30vw;
}

.newsletter-icon {
  width: 19vw;
  height: auto;
}

.newsletter-right {
  max-width: 75vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1vw;
  line-height: 2vw;
}

.newsletter-title {
  font-size: 2.43vw;
  font-weight: 500;
  font-weight: 500;
}

.newsletter-subtitle {
  font-size: 1.5vw;
  margin-left: 1vw;
}

.newsletter-form {
  display: flex;
  gap: 1vw;
  width: 100%;
  align-items: center;
  /* Ensure the form is centered vertically */
}

.newsletter-input {
  padding: 1vw;
  font-size: 1.2vw;
  width: 17vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--secondary);
  outline: none;
  color: #fff;
  background-color: #000;
}

.newsletter-submit {
  padding: 0.9vw 5vw;
  font-size: 1.3vw;
  background-color: var(--secondary);
}

.thank-you-message {
  margin-top: 2vw;
  font-size: 2vw;
  text-align: center;
  color: var(--secondary);
  ;
}




.footer-container {
  background-color: black;
  padding: 2vw 4vw;
}

.footer-line {
  border-color: rgb(39, 39, 39);
  margin: 1vw 0;
  width: 80vw;
  opacity: 0.4;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 80vw;
  padding: 3vw 0;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.footer-logo {
  width: 4vw;
  height: 4vw;
  background-color: var(--secondary);
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: bold;
  color: black;
}

.footer-logo img {
  width: 100%;
}

.footer-text {
  color: white;
  font-size: 1.2vw;
  line-height: 1.5vw;
}

.footer-icons {
  display: flex;
  gap: 1vw;
}

.icon-box {
  width: 3.5vw;
  height: 3.5vw;
  background-color: #1a1a1a;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-box :hover {
  background-color: var(--secondary);
}

.icon-img {
  width: 2.2vw;
  height: 2.2vw;
}


/* ------------------------------- */
.footerlinks-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2vw;
  background-color: #000;
  color: white;
  /* width: 100vw; */
}

.footerlinks-section {
  width: 20vw;
}

.footerlinks-heading {
  color: var(--secondary);
  font-size: 1.2vw;
  margin-bottom: 1vw;
}

.footerlinks-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1vw;
  line-height: 1.68vw;
  transition: opacity 0.3s ease-in-out;
  margin-top: 2vw;
}

.footerlinks-list li a {
  font-size: 0.9vw;
}

.footerlinks-list li a:hover {
  color: var(--secondary);
}

.footerlinks-images {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  align-items: flex-end;
}


.footerlinks-a1 {
  background-color: white;
}

.footerlinks-a3 img {
  transform: scale(1.2);
}

.footerlinks-images a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 5.4vw;
  border-radius: 0.5vw;
  padding: 1.5vw;
}

.footerlinks-img {
  width: 100%;
  height: auto;
  border-radius: 0.5vw;
  transition: opacity 0.3s ease-in-out;
}

.footerlinks-img:hover {
  opacity: 0.5;
}

.footerlinks-a2 {
  background-color: #132C72;
}



/* ------------------------------------------------ */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  background-color: #000;
  color: #fff;
  padding: 1vw;
  justify-content: space-between;
  width: 82vw;
}

.contact-column {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}

.contact-title {
  font-size: 1vw;
  color: var(--secondary);
  font-weight: bold;
  margin-top: 1.6vw;
}

.contact-email {
  font-size: 1vw !important;
  font-weight: bold !important;
  margin-bottom: 2vw;
}

.contact-column h4 {
  font-size: 1vw;
  margin: 1vw 0 0.5vw;
}

.contact-column p {
  font-size: 0.85vw;
  font-weight: 100;
  line-height: 1.4;
  margin-top: 0.5vw;
}


.location-heading {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.flag-icon {
  width: 1.2vw;
  height: auto;
  object-fit: contain;
}



.coinband-footer {
  background-color: #000;
  padding: 1vw 2vw;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9vw;
  width: 83vw;
}

.coinband-footer hr {
  border-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 1vw;

}

.coinband-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2vw;
}

.coinband-footer-container span {
  text-align: center;
  width: max-content;
  opacity: 0.5;
}

@media(max-width: 1024px) {
  .footer-newsletter {
    padding: 1vw 3vw;
  }

  .newsletter-content {
    gap: 3vw;
  }

  .newsletter-left {
    max-width: 30vw;
  }

  .newsletter-icon {
    width: 26vw;
    height: auto;
  }

  .newsletter-right {
    max-width: auto;
    gap: 1vw;
  }

  .newsletter-title {
    font-size: 3vw;

  }

  .newsletter-subtitle {
    font-size: 2vw;
    margin-left: 1vw;
  }

  .newsletter-form {
    gap: 1vw;
  }

  .newsletter-input {
    padding: 1vw;
    font-size: 1.5vw;
    width: 22vw;
  }

  .newsletter-submit {
    padding: 1.2vw 5vw;
    font-size: 1.6vw;
  }

  .thank-you-message {
    font-size: 3vw;
  }

  .footer-container {
    padding: 2vw 7vw;
  }

  .footer-content {
    width: 80vw;
    padding: 3vw;
  }



  .footer-logo {
    width: 6vw;
    height: 6vw;
    font-size: 3vw;
  }


  .footer-icons {
    display: flex;
    gap: 1vw;
  }

  .icon-box {
    width: 5vw;
    height: 5vw;
  }

  .icon-img {
    width: 3vw;
    height: 3vw;
  }

  .footerlinks-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 4vw;
    padding: 4vw 10vw;
    background-color: #000;
    color: white;
    flex-wrap: wrap;
  }

  .footerlinks-section {
    width: 22vw;
  }

  .footerlinks-heading {
    font-size: 1.8vw;
    margin-bottom: 1vw;
  }

  .footerlinks-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1.5vw;
    line-height: 3vw;
    transition: opacity 0.3s ease-in-out;
    margin-top: 2vw;
  }

  .footerlinks-list li a {
    font-size: 1.5vw;
  }


  .footerlinks-images {
    align-items: flex-start;
    margin-top: 4vw;
  }

  .footerlinks-a3 img {
    transform: scale(1.2);
  }

  .footerlinks-images a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21vw;
    height: 8vw;
    border-radius: 0.5vw;
    padding: 1.5vw;
  }

  .footerlinks-img {
    width: 100%;
    height: auto;
    border-radius: 0.5vw;
    transition: opacity 0.3s ease-in-out;
  }

}

@media (max-width: 650px) {
  .newsletter-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vw;
  }

  .newsletter-left {
    max-width: 90%;
  }

  .newsletter-icon {
    width: 80vw;
    height: auto;
  }

  .newsletter-right {
    max-width: 90vw;
    gap: 2vw;
    line-height: 1.4;
  }

  .newsletter-title {
    font-size: 5.5vw;
  }

  .newsletter-subtitle {
    font-size: 3.5vw;
    margin-left: 0;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 3vw;
  }

  .newsletter-input {
    padding: 2vw;
    font-size: 3vw;
    width: 100%;

  }

  .newsletter-submit {
    padding: 3vw 7vw;
    font-size: 3.5vw;
    width: 100%;
    margin-top: 3vw;
    margin-bottom: 4vw;
  }

  .thank-you-message {
    font-size: 3.5vw;
  }



  .footer-container {
    padding: 2vw 5vw;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width: 94vw;
    padding: 3vw;
    gap: 4vw;
  }

  .footer-left {
    display: flex;
    align-items: center;
    gap: 4vw;
  }

  .footer-logo {
    width: 10vw;
    height: auto;
    background-color: var(--secondary);
    border-radius: 2vw;
    font-size: 2.5vw;

  }

  .footer-line {
    width: 94vw;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-text {
    color: white;
    font-size: 3.5vw;
    line-height: 1.5vw;
  }

  .footer-icons {
    display: flex;
    gap: 3vw;
    margin: 4vw 0;
  }

  .icon-box {
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
  }

  .icon-img {
    width: 6vw;
    height: 6vw;
  }

  .footerlinks-wrapper {
    justify-content: space-between;
    padding: 3vw;
  }

  .footerlinks-section {
    width: 40vw;
  }

  .footerlinks-heading {
    color: var(--secondary);
    font-size: 4vw;
  }

  .footerlinks-list {
    font-size: 3vw;
    line-height: 1.4;
    transition: opacity 0.3s ease-in-out;
    margin-top: 4vw;
  }

  .footerlinks-list li {
    margin-bottom: 3vw;
  }

  .footerlinks-list li a {
    font-size: 3vw;

  }

  .footerlinks-images {
    gap: 3vw;
    align-items: flex-start;
  }


  .footerlinks-a1 {
    background-color: white;
  }



  .footerlinks-images a {
    width: 90%;
    height: 14.4vw;
  }

  .footerlinks-img {
    border-radius: 1vw;
  }


  .contact-section {
    flex-wrap: wrap;
    gap: 7vw;
    padding: 1vw;
    justify-content: space-evenly;
    align-items: start;
    width: 90vw;
    flex-direction: column;
  }

.contact-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1vw;
}

  .contact-title {
    font-size: 5vw;
  }

  .contact-email {
    font-size: 3.5vw !important;
  }

  .contact-column h4 {
    font-size: 4vw;
    margin: 1vw 0 0.5vw;
  }

  .contact-column p {
    font-size: 3vw;
    font-weight: 100;
    line-height: 1.4;
    margin-top: 1vw;
    margin-bottom: 5vw;
  }


  .location-heading {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  .flag-icon {
    width: 6vw;
  }

  .coinband-footer {
    padding: 1vw;
    font-size: 3vw;
    width: 95vw;
  }


  .coinband-footer-container {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
    gap: 5vw;
  }

}