.getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -5vw;
}

.getintouch-img {
  width: 94vw;

}

.getintouch-img img {
  width: 100%;
}

.contact-us-container {
  text-align: center;
  background-color: #000;
  color: white;
  padding: 1vw;
  border-radius: 1.5vw;
  max-width: 80vw;
  margin: auto;
}

.contact-us-heading {
  font-size: 3.2vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

.contact-us-description {
  font-size: 1vw;
  margin-bottom: 3vw;
  color: #ffffff;
  width: 27vw;
  margin-left: auto;
  margin-right: auto;
}

.contact-us-button {
  background-color: var(--secondary);
  color: black;
  font-size: 1.3vw;
  padding: 1.2vw 2.5vw;
  border: none;
  border-radius: 1.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-us-button:hover {
  background-color: #9acc1a;
}

@media(max-width: 650px) {
  .getintouch-img img {
    width: 100%;
    scale: 1.5;
    overflow: hidden;
  }

  .getintouch-img {
    width: 94vw;
    overflow: hidden;
  }

  .contact-us-heading {
    font-size: 6vw;
    font-weight: 700;
    margin-bottom: 4vw;
  }

  .contact-us-description {
    font-size: 3.8vw;
    margin-bottom: 3.5vw;
    width: 80vw;
  }


  .contact-us-button {
    background-color: var(--secondary);
    color: black;
    font-size: 3.5vw;
    padding: 4vw 7vw;
    font-weight: 500;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}