.howWeAchieveResults {
  padding: 1vw 5.6vw;
}

.title {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 2vw;
  width: 38vw;
}

.description {
  font-size: 1.2vw;
  margin-top: 0;
  max-width: 49vw;
  line-height: 1.6;
  width: 28vw;
}

.results-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
  gap: 2.7vw;
  margin-top: 5vw;
}

.result-item {
  display: flex;
  align-items: center;
  border-radius: 1vw;
  text-align: left;
  transition: all 0.3s ease;
  gap: 2.3vw;
}

.result-img {
  height: auto;
  border-radius: 0.5vw;
  width: 17vw;
}

.result-text {
  width: 17vw;
  height: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.result-text h3 {
  font-size: 1.2vw;
  font-weight: 600;
  margin-bottom: 1.5vw;
  color: #fff;
  line-height: 1.2;
  padding-right: 4vw;
}

.result-text p {
  font-size: 1vw;
  color: #cccccc82;
  line-height: 1.2;
}

@media(max-width: 1024px) {
  .howWeAchieveResults {
    padding: 0 7vw;
  }

  .title {
    font-size: 3.6vw;
    font-weight: 700;
    margin-bottom: 4vw;
    width: 44vw;
  }

  .description {
    font-size: 1.7vw;
    margin-top: 0;
    max-width: 70vw;
    line-height: 1.6;
    width: 33vw;
    margin-bottom: 4vw;
  }

  .results-grid {
    grid-template-columns: repeat(auto-fit, minmax(60vw, 1fr));
  }


  .result-img {
    height: auto;
    border-radius: 0.5vw;
    width: 22vw;
  }

  .result-text {
    width: 23vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .result-text h3 {
    font-size: 1.8vw;
    font-weight: 600;
    margin-bottom: 1.5vw;
    color: #fff;
    line-height: 1.2;
    padding-right: 4vw;
  }

  .result-text p {
    font-size: 1.4vw;
    color: #cccccc82;
    line-height: 1.2;
  }
}


@media(max-width: 650px) {
  .howWeAchieveResults {
    padding: 1vw 5vw;
  }

  .title {
    font-size: 6.5vw;
    width: 100%;
  }

  .description {
    font-size: 3.7vw;
    margin-top: 0;
    max-width: 100%;
    line-height: 1.2;
    width: 100%;
    margin-bottom: 8vw;
  }

  .results-grid {
    gap: 3vw;
    margin-top: 5vw;
    display: flex;
    overflow-x: scroll;
  }

  .result-item {
    border-radius: 3vw;
    text-align: left;
    gap: 2vw;
    flex-direction: column;
    border: 1px solid rgba(128, 128, 128, 0.476);
  }

  .result-img {
    height: auto;
    border-radius: 3vw;
    width: 64vw;
    opacity: 0.5;
    background: transparent;
  }

  .result-text {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4vw;
  }

  .result-text h3 {
    font-size: 4vw;
    margin-bottom: 4vw;
    padding-right: 0;
  }

  .result-text p {
    font-size: 3.5vw;
  }
}