.industriesSection {
  padding: 0 4vw;
  text-align: center;
  max-width: 100vw;
  opacity: 0;
}


.industriesWrapper {
  overflow: hidden;
  margin-top: -6vw;
}

.subheading {
  color: var(--secondary);
  font-size: 1vw;
  font-weight: 500;
  margin-bottom: 1.2vw;
}

.heading {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 2vw;
}

.description {
  color: #bfbfbfbc;
  font-size: 1vw;
  max-width: 56vw;
  margin: 0 auto;
  line-height: 1.5;
}

.servicesSection {
  background: #000;
  padding: 4vw 8.5vw;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
  justify-items: center;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  background: #111;
  color: white;
  padding: 2vw;
  border-radius: 1vw;
  text-align: center;
  max-width: 19.5vw;
  min-height: 30.8vw;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.icon {
  width: 16vw;
  height: auto;
}

.title {
  font-size: 1.8vw;
  font-weight: 700;
  margin-bottom: 1.6vw;
}

.carddescription {
  font-size: 1vw;
  color: #ccccccc9;
  margin-bottom: 1vw;
  line-height: 1.7;
  padding: 0 1vw;

}

.link {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2vw;
}

.link :hover {
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }

  .card {
    gap: 0vw;
    max-width: 40vw;
    min-height: 30.8vw;
  }

  .icon {
    width: 22vw;
    height: auto;
  }

  .title {
    font-size: 2.2vw;
    font-weight: 700;
    margin-bottom: 1.6vw;
  }

  .carddescription {
    font-size: 1.4vw;
    color: #ccccccc9;
    line-height: 1.7;
    padding: 0 1vw;

  }

  .link {
    color: var(--secondary);
    font-weight: 600;
    text-decoration: none;
    font-size: 1.4vw;
  }

  .subheading {
    color: var(--secondary);
    font-size: 1.5vw;
    font-weight: 500;
    margin-bottom: 1.2vw;
  }

  .heading {
    font-size: 3.5vw;
    font-weight: 700;
    margin-bottom: 2vw;
  }

  .description {
    color: #bfbfbfbc;
    font-size: 1.4vw;
    max-width: 76vw;
    margin: 0 auto;
    line-height: 1.5;
  }
}


@media(max-width: 650px) {
  .industriesSection {
    padding: 0 5vw;
  }

  .servicesSection {
    background: #000;
    padding: 5vw;
  }

  .subheading {
    color: var(--secondary);
    font-size: 3.5vw;
    font-weight: 500;
    margin-bottom: 3vw;
  }

  .heading {
    font-size: 7vw;
    font-weight: 700;
    margin-bottom: 2vw;
  }

  .description {
    font-size: 3.5vw;
    max-width: 100%;
    line-height: 1.2;
    margin: 4vw auto;
  }

  .cardGrid {
    gap: 2vw;
    display: flex;
    overflow-x: scroll;
  }

  .card {
    gap: 1vw;
    padding: 4vw;
    border-radius: 4vw;
    max-width: 95vw;
    min-height: 85vw;
    justify-content: flex-start;
  }

  .icon {
    width: 64vw;
    height: auto;
  }

  .title {
    font-size: 5vw;
    font-weight: 700;
    margin-bottom: 1.6vw;
  }

  .carddescription {
    font-size: 2.7vw;
    color: #ccccccc9;
    margin-bottom: 1vw;
    line-height: 1.4;
    padding: 0 1vw;
  }

  .link {
    font-size: 3vw;
  }
}