/* Define animation speed */
:root {
  --animation-speed: 20s;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
    /* Move to the left */
  }
}

/* Animation for reverse scrolling (right to left) */
@keyframes scrollReverse {
  0% {
    transform: translateX(calc(-250px * 7));
    /* Start from the leftmost position */
  }

  100% {
    transform: translateX(0);
    /* Move to the right */
  }
}

/* Styling for the slider container */
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* Styling for the slide track (forward scrolling) */
.slider-track {
  animation: scroll var(--animation-speed) linear infinite;
  display: flex;
  width: calc(250px * 14);
  gap: 1.5vw;
}

.slider.reverse .slider-track {
  animation: scrollReverse var(--animation-speed) linear infinite;
  width: calc(250px * 14);
}

/* Styling for each slide */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.5vw;
  height: 6.4vw;
  background-color: #080808;
  padding: 1vw;
  border: 2px solid transparent;
  /* Required for background-clip */
  border-radius: 1.4vw;
  background-image:
    linear-gradient(#080808, #080808),
    /* Background layer */
    linear-gradient(to right, rgba(128, 128, 128, 0.237), rgba(128, 128, 128, 0.05));
  /* Border gradient */
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.slider-image {
  width: 11.2vw;
  height: auto;
  object-fit: cover;
}

/* Adding gradient effect to the slider */
.slider::before,
.slider::after {
  content: "";
  height: 120px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider-track {
  will-change: transform;
}

@media(max-width: 1024px) {

  :root {
    --animation-speed: 35s;
  }

  .slide {
    width: 19vw;
    height: 8.4vw;
    padding: 1vw;
  }

  .slider-image {
    width: 13vw;
    height: auto;
    object-fit: cover;
  }
}

@media(max-width: 650px) {

  :root {
    --animation-speed: 30s;
  }

  .slide {
    width: 40vw;
    height: 20vw;
    border-radius: 4vw;
    background-image:
      linear-gradient(#080808, #080808),
      /* Background layer */
      linear-gradient(to right, rgba(163, 163, 163, 0.217), rgba(128, 128, 128, 0.05));
  }

  .slider-image {
    width: 35vw;
    height: auto;
    object-fit: cover;
  }

  .slider-track {
    gap: 5vw;
    margin: 2vw 0vw;
    width: calc(290px * 14);
  }


  .slider.reverse .slider-track {
    animation: scrollReverse var(--animation-speed) linear infinite;
    width: calc(290px * 14);
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-290px * 7));
      /* Move to the left */
    }
  }

  /* Animation for reverse scrolling (right to left) */
  @keyframes scrollReverse {
    0% {
      transform: translateX(calc(-290px * 7));
      /* Start from the leftmost position */
    }

    100% {
      transform: translateX(0);
      /* Move to the right */
    }
  }
}