.marketingWrapper {
  padding: 0 4vw;
  color: white;
  line-height: 1.3;
  text-align: center;
  margin-top: -5vw;
}

.smallTop {
  font-size: 0.9vw;
  margin-bottom: 1vw;
  font-weight: 500;
  color: var(--secondary) !important;
  margin-top: 6vw;
}

.mainHeading {
  font-size: 3vw;
  font-weight: 700;
  margin-bottom: 1.5vw;
  line-height: 1.1;
}

.smallBottom {
  font-size: 0.9vw;
  opacity: 0.6;
  max-width: 50vw;
  line-height: 1.7;
  font-weight: 400;
  text-align: center;
  margin: 3vw auto;
}

.contentGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-bottom: 6vw;
}

.tabsList {
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.tabItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3333339b;
  padding: 1.09vw 2vw;
  border-radius: 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 28vw;
  color: gray;
}

.tabItem:hover {
  color: white;
}

.active {
  color: var(--secondary) !important;
}

.tabArrowWrapper {
  display: flex;
  align-items: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.tabArrowWrapper:hover .arrow {
  color: white;
}

.arrowbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3333339b;
  padding: 0.8vw 1.4vw;
  border-radius: 1vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: all 0.3s ease;
  width: max-content;
}

.arrow {
  transition: transform 0.3s ease, color 0.3s ease;
  transform: rotate(180deg);
  width: 2vw;
  color: gray;
  height: auto;
}

.rotate {
  transform: rotate(0deg);
  color: var(--secondary) !important;
}

.imageDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabImage {
  max-width: 100%;
  height: auto;
  width: 5vw;
  border-radius: 0.8vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

@media(max-width: 1024px) {
  .smallTop {
    font-size: 1.5vw;
    margin-bottom: 1.4vw;
  }

  .mainHeading {
    font-size: 3.8vw;
    margin-bottom: 1.2vw;
  }

  .smallBottom {
    font-size: 1.2vw;
  }

  .tabItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #3333339b;
    padding: 1.2vw 2vw;
    border-radius: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 31vw;
    color: gray;
  }
}

@media(max-width: 650px) {
  .marketingWrapper {
    padding: 0 5vw;
  }

  .smallTop {
    font-size: 4vw;
    margin-bottom: 1.4vw;
  }

  .mainHeading {
    font-size: 5.7vw;
  }

  .smallBottom {
    font-size: 3.6vw;
    max-width: 100%;
    line-height: 1.4;
    padding-bottom: 10vw;
  }

  .contentGrid {
    flex-direction: column;
  }

  .tabsList {
    flex-direction: row;
    gap: 2vw;
    flex-wrap: wrap;
  }

  .tabItem {
    padding: 3vw;
    border-radius: 3vw;
    font-size: 3.5vw;
    width: max-content;
    color: rgb(255, 255, 255);
    font-weight: 900;
  }

  .arrowbox {
    display: none;
  }

}