.pin-slider-section {
  width: 130vw;
  position: relative;
}

.pinSlider {
  position: relative;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  background: transparent;
  max-height: 100vw !important;
  height: 30vw !important;
}

.pinSlidercards {
  display: flex;
  gap: 3vw;
  will-change: transform;
  padding: 0 5vw;
  width: max-content;
  align-items: flex-start;
}

.pinSlidercard {
  background-color: #0B0B0B;
  border: 0.1vw solid rgba(128, 128, 128, 0.268);
  width: 42vw;
  min-width: 42vw;
  border-radius: 1.2vw;
  height: 13vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  opacity: 0;
}

.pinSlidercard img {
  width: 20vw;
  filter: brightness(0.3);
  margin-left: -1vw;
  flex-shrink: 0;
}

.pinSlidercard p {
  padding-right: 2vw;
  color: white;
  font-size: 1.2vw;
}

/* Ensure body has no overflow */
body {
  overflow-x: hidden;
}

.pin-spacer {
  padding: 0 !important;
}


@media (max-width: 950px) {
  .pin-slider-section {
    width: 150vw;
  }

  .pinSlider {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    background: transparent;
    max-height: 100vw !important;
    height: 30vw !important;
  }

  .pinSlidercards {
    display: flex;
    gap: 3vw;
    will-change: transform;
    padding: 0 5vw;
    width: max-content;
    align-items: flex-start;
  }

  .pinSlidercard {
    background-color: #0B0B0B;
    border: 0.1vw solid rgba(128, 128, 128, 0.268);
    width: 48vw;
    min-width: 50vw;
    border-radius: 1.2vw;
    height: 15vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
  }

  .pinSlidercard img {
    width: 25vw;
    filter: brightness(0.3);
    margin-left: -1vw;
    flex-shrink: 0;
  }

  .pinSlidercard p {
    padding-right: 2vw;
    color: white;
    font-size: 1.8vw;
  }
}


@media (max-width: 650px) {
  .pin-slider-section {
    width: 150vw;
    margin: 10vw 0;
  }

  .pinSlider {
    position: relative;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    background: transparent;
    max-height: 100vw !important;
    height: 34vw !important;
  }

  .pinSlidercards {
    display: flex;
    gap: 3vw;
    will-change: transform;
    padding: 0 5vw;
    width: max-content;
    align-items: flex-start;
  }

  .pinSlidercard {
    background-color: #0B0B0B;
    border: 0.1vw solid rgba(128, 128, 128, 0.268);
    width: 80vw;
    min-width: auto;
    border-radius: 3vw;
    height: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    opacity: 0;
  }

  .pinSlidercard img {
    width: 40vw;
    filter: brightness(0.7);
    margin-left: -2vw;
    flex-shrink: 0;
  }

  .pinSlidercard p {
    padding-right: 2vw;
    color: white;
    font-size: 3.5vw;
  }
}