.QA {
  display: flex;
  flex-direction: column;
  padding: 1vw 5vw;
  margin-top: -6vw;
}

.QA h3 {
  margin-top: 5vw;
  font-size: 3vw;
  color: rgb(255, 255, 255);
  margin-bottom: 3vw;
}

.QA-main {
  display: flex;
  flex-direction: column;
  gap: 1.8vw;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.qa-item {
  transition: all 0.3s ease;
  border-bottom: 1px solid #7f8c8d5a;
  padding-bottom: 1.8vw;
}

.qa-item.active {
  box-shadow: 0 1vw 3vw rgba(0, 0, 0, 0.1);
}

.qa-question-container {
  display: flex;
  align-items: center;
  gap: 1vw;
  cursor: pointer;
}

.qa-image {
  object-fit: cover;
  border-radius: 1vw;
  width: 2vw;
}



.qa-text-container {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.qa-arrow.rotated {
  transform: rotate(180deg);
}

.qa-text-container h4 {
  margin: 0;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.4;
  font-size: 1.4vw;
}

.qa-arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
  color: rgb(173, 173, 173);
  font-size: 1.8vw;
}

.qa-arrow.rotated {
  transform: rotate(180deg);
}

.qa-answer {
  margin-top: 1.5vw;
  color: #7f8c8d;
  line-height: 1.6;
  animation: fadeIn 0.3s ease;
  font-size: 1vw;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1vw);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width: 1024px) {
  .QA {
    padding: 1vw 7vw;
    margin-top: -6vw;
  }

  .QA h3 {
    margin-top: 5vw;
    font-size: 3.5vw;
  }

  .qa-answer {
    font-size: 1.5vw;
  }

  .qa-text-container h4 {
    font-size: 1.8vw;
  }

  .qa-arrow {
    font-size: 2.2vw;
  }

  .qa-image {
    width: 3vw;
  }

  .qa-question-container {
    gap: 2vw;
  }
}

@media(max-width: 650px) {
  .QA {
    padding: 3vw 5vw;
  }

  .QA h3 {
    margin-top: 5vw;
    font-size: 5.5vw;
  }

  .qa-answer {
    font-size: 3vw;
  }

  .qa-text-container {
    padding: 3vw 0;
  }

  .qa-text-container h4 {
    font-size: 3.5vw;
  }

  .qa-arrow {
    font-size: 4vw;
    padding: 3vw 0;
  }

  .qa-image {
    width: 4vw;
  }

  .qa-question-container {
    gap: 3vw;
  }
}