.s_crypto_smm {
  padding: 4vw 5.5vw;
  color: white;
  opacity: 0;
  transform: translateY(5vw);
  transition: all 1s ease-out;
  margin-top: 5vw;
  overflow-x: scroll;
}

.s_crypto_smm.animate {
  opacity: 1;
  transform: translateY(0);
}

.s_crypto_smm_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 11vw;
  align-items: flex-start;
}

.s_crypto_smm_left {
  width: max-content;
}

.s_crypto_smm_heading {
  font-size: 3.2vw;
  font-weight: 500;
  line-height: 3.5vw;
}

.s_crypto_smm_right {
  width: 47vw;
}

.s_crypto_smm_para1,
.s_crypto_smm_para2 {
  font-size: 1.3vw;
  line-height: 1.8vw;
  margin-bottom: 2vw;
  color: #d1d1d1;
}


.s_crypto_smm_para2 {
  color: gray;
}


.s_crypto_smm_cards_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  padding-top: 2vw;
}

/* Individual Card */
.s_crypto_smm_card {
  background-color: transparent;
  border-radius: 1vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.245);
}

.s_crypto_smm_card_img {
  width: 100%;
  height: auto;
  border-radius: 1vw 1vw 0vw 0vw;
}

.s_crypto_smm_card_text {
  font-size: 1.1vw;
  color: #eeeeee;
  padding: 2vw 2vw;
}

@media(max-width: 950px) {
  .s_crypto_smm_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
    align-items: center;
  }

  .s_crypto_smm_left {
    width: 80vw;
  }

  .s_crypto_smm_heading {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
  }

  .s_crypto_smm_right {
    width: 80vw;
    text-align: center;
  }

  .s_crypto_smm_para1,
  .s_crypto_smm_para2 {
    font-size: 2vw;
    line-height: 1.2;
    margin-bottom: 2vw;
    text-align: center;
  }

  .s_crypto_smm_card {
    width: 30vw;
    border-radius: 1.5vw;
    height: 34vw;
    margin-top: 5vw;
    border: 1px solid rgba(128, 128, 128, 0.501);
  }

  .s_crypto_smm_card_img {
    width: 100%;
    height: 19vw;
    border-radius: 1.5vw 1.5vw 0vw 0vw;
  }

  .s_crypto_smm_card_text {
    font-size: 2vw;
    padding: 2vw 2vw;
  }
}

@media(max-width: 650px) {

  .s_crypto_smm {
    overflow-x: scroll;
  }

  .s_crypto_smm_cards_wrapper {
    flex-direction: column;
    overflow-x: scroll;
  }

  .s_crypto_smm_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vw;
    align-items: center;
    overflow-x: scroll;
  }

  .s_crypto_smm_left {
    width: 100%;
  }

  .s_crypto_smm_heading {
    font-size: 6vw;
  }

  .s_crypto_smm_right {
    width: 95%;
  }

  .s_crypto_smm_para1,
  .s_crypto_smm_para2 {
    font-size: 3.8vw;
    line-height: 1.2;
    margin-bottom: 3vw;
  }

  .s_crypto_smm_card {
    width: 100%;
    border-radius: 3vw;
    height: 60vw;
    margin-top: 5vw;
    overflow: scroll;
  }

  .s_crypto_smm_card_img {
    width: 100%;
    height: 40vw;
    border-radius: 3vw 3vw 0vw 0vw;
  }

  .s_crypto_smm_card_text {
    font-size: 3.5vw;
    padding: 4vw;
    margin-top: 1vw;
  }
}