@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --primary: #000000;
  --secondary: #baff2a;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  background-color: var(--primary);
  color: #fff;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

button {
  color: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.line {
  width: 88vw;
  background-color: rgba(128, 128, 128, 0.371);
  height: 0.009vw;
  margin: 2vw 0;
}

/* .slick-slide {
  width: 405px !important;
  margin-right: 1vw !important;
} */